<app-details></app-details>
<hr>
<!-- <label>Username</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName">
  <p>{{ userName }}</p> -->
<label>Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
  <!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">

    Add Server

</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p
  *ngIf="serverCreated">

    Server was created, name is {{ serverName }}.
</p>
<app-server *ngFor="let server of servers"></app-server>

