<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>This is the app</h3>
      <hr>
      <app-servers></app-servers>
      <hr>

    </div>
  </div>
</div>

