<button
  class="btn btn-primary"
  (click)="displayDetails()">

    Display Details

</button>
<button
  class="btn btn-danger"
  (click)="clearLogs()">

  Clear logs

</button>

<p *ngIf="showDetails">{{ details }}</p>
<li
  *ngFor="let log of logs; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 4 }">{{ log }}
</li>

